p{
    margin: 5px;
    margin-bottom: 2px;
    color: #41C9B8;
    display: flex;
}

.pdiv{
    display: flex;
    position: relative;
}

.pkar{
    float: left;
}

a{
    color: #41C9B8;
}

#pa{
    color: rgb(231, 146, 48);
    font-style: italic;
    margin-top: 3px;
}

body{
    background-color: rgb(65, 65, 65);
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(207, 207, 207);
    max-width: 50%;
}

#fif{
    width: 45px;
}

img{
    background: none;
    margin: 0 5px;
    max-width: 200px;
    border-radius: 20px;
}

.reg, .log, .chat{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.things{
    display: flex;
}

.things>*{
    margin: 3px;
}

.thing2{
    border: 1px solid black;
    height: max-content;
    margin-left: 10px;
    padding: 5px;
}
.thing__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thing__ite{
    display: flex;
    flex-direction: column;
}

.chat{
    margin-top: 10px;
    max-width: 500px;
}

#chat{
    min-width: 500px;
    min-height: 600px;
    width: max-content;
    max-height: 600px;
    background-color: rgb(99, 99, 99);
    border: 1px solid black;
    text-align: left;
    overflow: auto;
}

#chat>*{
    margin-top: 10px;
}

#chat>*>img{
    max-width: 100px;
}

.choto{
    width: 100%;
    display: flex;
}

#vvesti{
    width: 80%;
    margin: 0;
}

#send{
    width: 20%;
}
